.avatar {
  cursor: pointer;
}

.dropdown-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.dropdown-item > div {
  display: flex;
}

.dropdown-item img {
  width: 1.2rem;
  height: 1.2rem;
}
