.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.submit-button {
  width: 100%;
}